@{
    ViewData["Title"] = "Home Page";
}

<body class="bg">
    <div >
        <div class="text-center">
            <h1 class="display-4">Welcome @ViewBag.username </h1>
            <p>Search and find your favourite <a href="https://www.imdb.com">TV Shows from IMDB itself</a>.</p>
            <p>We gather reviews from our users mainly on TV Shows. If you are a big fan of Shows, we encourage you to create an account with us and add the reviews of you favourite TV Shows to help others get suggestions...</p>
            <p></p>
        </div>
        </div>
</body>