@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center;">@ViewData["Title"]</h1>

<body class="bg">

    <p>Your Account is safely encrypted and stored in backend Database. We do not have access to you PASSWORD as it is Hash Encrypted.</p>
    <p>We encourage you to use this Application, we are adding new features to enhance your User Experience.</p>
</body>


